<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="M2Boilerplate\WebAppManifest\Api\Data\ManifestInterface" type="M2Boilerplate\WebAppManifest\Model\Manifest"/>
</config>
